.boxi {
  border-radius: 25px;
  -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  background-color: #f7f8f8;
  color: #1a1a1a;
  width: 85%;
  max-width: 675px;
  min-height: 300px;
}
.myCard {
  border-radius: 25px;
  background-image: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  margin-left: -1rem;
}

.myRow {
  display: flex;
  justify-content: space-between;
}

.myCol {
  width: 33%;
}
.myCol2 {
  width: 67%;
}
